{% for element in file_data %}
{% if element.domain == '@produzione' %}
{{ element.domain }} hard locks 10000
{% elif element.domain in ['@collaudo', '@sviluppo'] %}
{{ element.domain }} hard locks 1000
{% else %}
# Nessuna modifica per {{ element.domain }}
{% endif %}
{% endfor %}
